.footer {
  width: 1240px;
  height: 260px;
  background-color: #1d1d2c;
  margin-top: -20px;
}

.footer__img {
  padding-top: 50px;
  margin-left: 100px;
}

footer p {
  color: #fff;
  text-align: left;
}

.icon {
  margin-left: 950px;
}

.icon img {
  margin-left: 20px;
}
